@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Lato:wght@300&family=Oooh+Baby&family=Yuji+Hentaigana+Akari&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body{
  background: cadetblue;
  color: black;
}

.main {
  width: 85%;
  height: 100vh;
  margin: 0px 150px;
}

.container {
  display: flex;
  width: 100%;
}
