.sidebar {
  position: absolute;
  background: lightgray;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  transition: transform 0.3s ease-in;
}

.sidebar nav {
  padding: 40px;
}

.sidebar nav li {
  list-style: none;
  font-size: 30px;
  padding: 35px 0px;
}

.sidebar nav li a {
  text-decoration: none;
  color: black;
}

.sidebar-hide {
  transform: translate(-443px, 0px);
  position: absolute;
  transition: 0.5s;
}
